
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand"
        [routerLink]="['/home']">Software Request Form</a>
      <a class="navbar-brand"
        [routerLink]="['/new-request']">New Project Request</a>
      <a class="navbar-brand"
        [routerLink]="['/change-existing-request']">Change Existing Project</a>
      <form class="d-flex">
        <button class="btn btn-outline-danger" type="text">Exit</button>
      </form>
    </div>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>




